@import "tailwindcss";

html, body {
  font-family: "Inter", sans-serif;
  overscroll-behavior-y: contain;
  height: 100%;
}

@media print {
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
}

.print-only {
  display: none;
}
